<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">HOME</a>
          </div>

          {{ content }}

          <h3>关于我</h3>
          
          专注于IM即时通讯全技术栈的程序员，关注获取更多IM技术文章。
          
          <p style="text-align: center;">
          <img src="https://gongpengjun.com/imgs/wechat/qrcode.jpg" alt="gongpengjunblog">
          <p style="text-align: center;">IM小蓝天</p>
          <p style="text-align: center;">微信扫描二维码，关注我的公众号</p>
          </p>

          <div class="footer">
            WeChat: gongpengjun / <a href="https://github.com/gongpengjun/BabyIM">BabyIM</a>
          </div>
        </div>

    </body>
</html>
